
*{
font-family: 'Lora', serif;
}
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}


.navbar-brand h1{

  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;

  line-height: .75;
}

.btn{
margin-right: 20px;
margin-top: 10px;
margin-bottom: 10px;

}

#collapsable-nav{

  font-weight: bold;
  font-size: 1.5em;
  background-color:#f6b319;
  width: 100vw;
  text-align: center;
color: #000000;
}

h2{
margin-top: 10px;
margin-bottom: 20px;
font-weight: bold;
}
section {
    position: relative;
  background-color: #ffb3d9;
  outline: solid;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px;
    clear: right;

}
p{
 clear: right;
  padding: 10px;
  font-size: 20px;

}

a{
 font-size: 20px;
 }

h3{
    font-weight: bold;
}
ul {
    clear: both;
}

.navbar-default .navbar-nav>li>a {

    color: #000000;
    width: 100vw;
}
#navigation-list li:hover {
    background-color:#80aaff;
}


